[defaults]
remote_user = ansible
host_key_checking = false
inventory = inventory
nocows=1
roles_path = roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False


